main {
  font-family: Roboto;
  font-size: 14px;
  line-height: 18px;
}

.general-div-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
}

.major1-main {
  border: 1px solid rgb(219, 219, 219);
  border-radius: 1px;
  background-color: white;
  padding-bottom: 30px;
}

.major1-tophalf {
  margin-top: 46px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.major1-bottom-half {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup-text-in-light-grey {
  text-align: center;
  display: block;
  color: rgb(142, 142, 142);
  font-size: 17px;
  width: 268px;
  margin-top: 6px;
  margin-bottom: 10px;
  margin-left: 40px;
  margin-right: 40px;

  font-weight: 500;
}

.fb-url {
  text-decoration: none;
}

.fb-button:active {
  color: white;
  background-color: rgb(71, 182, 255);
  border: 1px solid transparent;
}

.fb-button {
  color: white;
  background-color: rgb(0, 149, 246);
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 8px 30px 5px;

  width: 259px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
  line-height: 18px;

  margin: 8px 40px;

  font-weight: 500;
  cursor: pointer;
}

.fb-icon-inside-button {
  height: 16px;
  margin-right: 7px;
}


.gen-OR-div {
  display: flex;
  margin-top: 10px;
  margin-bottom: 18px;
  margin-left: 40px;
  margin-right: 40px;
}

.grey-text-OR {
  color: rgb(158, 158, 158);
  line-height: 18px;
  font-size: 14px;
  margin: 0 22px;

  font-weight: 500;
}

.dash-div {
  letter-spacing: -2px;
  font-size: 11px;
  color: rgb(209, 209, 209);
}


/* Fill in mobile number/name/email section starts */


.input-container {
  position: relative;
  margin-bottom: 6px;
}

.input {
  width: 256px;
  height: 16px;
  font-size: 12px;
  /* where the user text will be located when typed */
  padding: 14px 0px 7px 8px;

  /* color of text being typed in by user */
  color: rgb(38, 38, 38);

  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
  background-color: rgb(250, 250, 250);
}

/* Remove border outline when input box is selected */
.input:focus { 
  outline: none;
  border: 1px solid rgb(161, 161, 161);
}

.placeholder {
  position: absolute;
  pointer-events: none;
  
  color: rgb(150, 150, 150);
  font-size: 12px;
  top: 14px;
  left: 9px;
  line-height: 14px;
  
  /* not sure about this one, I removed it but then had to change 
  input:focus ~ .placeholder x,y positions again so I just kept this as is */
  transform-origin: 0 50%; 

  /* how quick placeholder moves from original spot to wherever (in our case on top of the words being typed by user) */
  transition: transform 200ms, color 200ms;
}

/* 
When input is on focus (clicked on) AND when placholder is not shown 
in input (when input has some user characters in it) then make the placeholder class do this: 
transform, which basically moves (repositions) the placeholder 
somewhere on the screen which in this case is -1px to the left
along the x-axis and -7px up along the y-axis. 
scale of 0.85 just scrunches the text size to .85 of original size 
*/
/*.input:focus ~ .placeholder,*/
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translate(-1px, -10px) scale(0.8);
} 

/* when placeholder is pushed up, make it's text color rgb(142,142,142)*/
.input:not(:placeholder-shown) ~ .placeholder {
  color: rgb(142, 142, 142);
} 

.input:not(:placeholder-shown) {
  font-size: 11px;
  /* where the user text will be located when typed */
  padding: 16px 0px 3px 8px;
} 

/* While on focus, make placeholder text color yellow, in our case not needed */
/* .input:focus ~ .placeholder {
  color: yellow;
}  */

/* Fill in mobile number/name/email section ends */

/* privacy info starts */
.privacy-info-start, .privacy-info-end { 
  color: rgb(150, 150, 150);
  font-size: 12px;

  text-align: center;
  display: block;
  width: 268px;
  margin-top: 6px;
  margin-bottom: 10px;
  margin-left: 40px;
  margin-right: 40px;
}

.privacy-info-hl {
  text-decoration: none;
  color: rgb(146, 146, 146);
  font-weight: 500;
}

/*A sign up button added*/
.signup-url {
  text-decoration: none;
}

.signup-button { 
  color: white;
  background-color: rgb(161, 216, 252);
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 30px 4px;
  width: 259px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
  line-height: 18px;
  margin: 8px 40px;
  font-weight: 500;
  cursor: pointer;
}

/*major1-main ends here and major2-main starts here*/

.major2-main {
  margin-top: 10px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 1px;
  background-color: white;
  padding-bottom: 22px;
}

.have-account {
  width: 348px;
  margin-top: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-url {
  text-decoration: none;
  color:rgb(0, 149, 246)
}